*{
	text-align: center;
	font-family: sans-serif;
}
body {
	margin: 0;
	padding: 0;
}
.container {
	display: grid;
	margin: 0 auto;
	background: red;
	grid-template-columns: 450px 1fr 450px;
	grid-template-rows: 100px 1fr 1fr;
	grid-template-areas: "header header header"
						 "left calc right"
						 "footer footer footer";
	min-height: 100vh;
						}

.calc {
	grid-area: calc;
	border: 1px solid #fff;
	border-radius: 6px;
	height: 100px;
	padding: 30px 0;
}

header {
	display: grid;;
	grid-area: header;
	background: grey;
	color: #fff;
}

.res {
	color: #fff;
	font-size: 26px;
	margin-top: 30px;
}

.left {
	grid-area: left;
}

.right{
	grid-area: right;
}

input[type=text] {
	width: 40px;
	color: red;

}

input[type=submit] {
	width: 60px;
	height: 33px;
	background: red;
	color: #fff;
	border: 1px solid #fff;
	margin-left: 6px;
}

input {
	height: 30px;
	border-radius: 4px;
	border-style: none;
	font-size: 20px;
}
footer {
	grid-area: footer;
	background: grey;
	height: 50px;
	padding: 30px 0;
}
